<main id="registroUsuarios" class="row">
  <section class="col-md-6">

  </section>

  <section class="col-md-6">
    <form class="col-md-8 mx-auto" ng-submit="vm.inicioSesion(vm.nuevaSesion)">
      <h3>Ingrese sus datos</h3>
      <div class="form-group">
        <label for="inputEmail">Correo electrónico</label>
        <input type="text" class="form-control" id="inputEmail" ng-model="vm.nuevaSesion.correo" required>
      </div>
      <div class="form-group">
        <label for="inputContrasenna">Contraseña</label>
        <input type="password" class="form-control" id="inputContrasenna" ng-model="vm.nuevaSesion.contrasenna" required>
      </div>
      <button type="submit" class="btn btn-success">Iniciar Sesión</button>
    </form>
  </section>
</main>