#headerPrincipal{
    .brandNav {
      background-color: #ecf0f1;
    }
    .brandLinks {
      color: #5A5F63 !important;
      font-weight: 400;
    }
    .brandLinks:hover {
      color: #A5C157 !important;
    }
    .navbar-toggler-icon.icon-bar {
      background-color: #fff !important;
      color: #fff !important;
    }

    
  } 