#inicioSesion{
    #inicioSesionIzq {
      background-image: url("./img/inicioSesion.jpg");
      background-size: cover;
      min-height: 100vh;
      background-repeat: no-repeat;
      background-position: left center;
      margin: 0;
      color: #fff;
      padding: 50px;
      a{
        color: #fff;
        text-decoration: none;
      }
    }
  }