<main id="registrarClientes">
            <div class="col-12 py-5 px-5 contenido">
              <h2>Lista de Usuarios</h2>
              <div class="form-group">
                <label for="inputBuscar">Buscar usuarios</label>
                <input type="text" class="form-control" id="inputBuscar" ng-model="buscarUsuario">
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Cédula</th>
                    <th>Primer Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Correo electrónico</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Teléfono</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="usuario in vm.listaUsuarios | filter:buscarUsuario">
                    <td>{{usuario.cedula}}</td>
                    <td>{{usuario.primerNombre}}</td>
                    <td>{{usuario.primerApellido}}</td>
                    <td>{{usuario.segundoApellido}}</td>
                    <td>{{usuario.correo}}</td>
                    <td>{{usuario.fechaNacimiento | date:'shortDate'}}</td>
                    <td>{{usuario.telefono}}</td>
                    <td>
                      <li class="nav-item dropdown btnAccion" style="list-style:none">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acciones</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" ng-click="vm.editar(usuario)">Modificar usuario</a>
                          <a class="dropdown-item" ng-click="vm.disable(usuario)">Desactivar Usuario</a>
                        </div>
                      </li>
                    </td>
                  </tr>
                </tbody>
              </table>
      
            </div>
      </main>