// $deepPurple: linear-gradient(to right, #2F3640 100%, #353B48 100%);

$background:#00b894;
$slateblue: #8C7AE6;
$white: #FFF;
$midnight: #353B48;
$fuenteTitulos: "Montserrat";
$fuenteContenido: "Roboto";