<aside id="dashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 panelIzquierdo px-5">
          <img type="image/svg+xml" src="../../../sources/img/logo_Trotamundos_gray.svg" class="my-5">
        <ul class="list-group" class="my-4">
          <li class="list-group-item" ng-hide="vm.rolUsuario == 'Cliente'">
            <a href="" ui-sref="main.registroUsuario" ui-sref-active="active">Registro cliente</a>
          </li>
          <li class="list-group-item" ng-hide="vm.rolUsuario == 'Cliente'">
            <a href="" ui-sref="main.listarUsuario" ui-sref-active="active">Lista clientes</a>
          </li>
          <li class="list-group-item" ng-hide="vm.rolUsuario == 'Cliente'">
            <a href="" ui-sref="main.registroHotel">Registro hoteles</a>
          </li>
          <li class="list-group-item" ng-hide="vm.rolUsuario == 'Cliente'">
            <a href="" ui-sref="main.registroHotel">Lista hoteles</a>
          </li>
          <li class="list-group-item">
            <a href="" ui-sref="main.verPerfil" ui-sref-active="active">Mi perfil</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>