<aside id="dashboard">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 panelIzquierdo px-5">
          <ul class="list-group" class="my-4">

            <li class="list-group-item" ng-hide="vm.rolUsuario == 'Cliente'">
              <a href="" ui-sref="main.registroClientes" ui-sref-active="active">Registro cliente</a>
            </li>
            <li class="list-group-item" ng-hide="vm.rolUsuario == 'Cliente'">
              <a href="" ui-sref="main.registroCourier" ui-sref-active="active">Lista clientes</a>
            </li>
            <li class="list-group-item" ng-hide="vm.rolUsuario == 'Cliente'">
              <a href="" ui-sref="main.sucursales">Sucursales</a>
            </li>
            <li class="list-group-item" ng-hide="vm.rolUsuario == 'Cliente'">
              <a href="" ui-sref="main.registroProducto">Productos</a>
            </li>
            <li class="list-group-item" ng-hide="vm.rolUsuario == 'Cliente'">
              <a href="" ui-sref="main.convenios" ui-sref-active="active">Convenios</a>
            </li>
            <li class="list-group-item" ng-hide="vm.rolUsuario == 'Cliente'">
              <a href="#!/listarPaquetes">Paquetes</a>
            </li>
            <li class="list-group-item" ng-hide="vm.rolUsuario == 'Cliente'">
              <a  href="" ui-sref="main.bitacora">Bitácora</a>
            </li>
            <li class="list-group-item" ng-hide="vm.rolUsuario == 'Cliente'">
                <a  href="" ui-sref="main.ranking">Ranking</a>
              </li>
            <li class="list-group-item">
              <a href="" ui-sref="main.verPerfil" ui-sref-active="active">Mi perfil</a>
            </li>
            <li class="list-group-item">
              <a href="#!/registroPrealerta">Prealertar Paquete</a>
            </li>
            <li class="list-group-item">
              <a href="" ui-sref="main.registroConvenioCliente" ui-sref-active="active">Solicitar Convenio</a>
            </li>
            <li class="list-group-item" ng-hide="vm.rolUsuario == 'Administrador'">
              <a href="#!/listarPaquetesCliente">Mis Paquetes</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </aside>