<h1>Registro de Usuarios</h1>
<form name="formRegistrarCliente" ng-submit="vm.modificarUsuario(vm.nuevosDatosUsuario)" class="col-md-8">
  <!-- Información Personal -->
  <div class="my-3">
    <h3>Información Personal</h3>

    <div class="form-group">
      <label for="inputCedula">Cédula:</label>
      <input type="text" class="form-control" id="inputCedula" ng-model="vm.nuevosDatosUsuario.cedula" name="txtCedula"
      pattern="^[0-9]\d{8}$" minlength="9" maxlength="9" autocomplete="off" required disabled>
      <div ng-messages="formRegistrarCliente.txtCedula.$error" role="alert">
        <div ng-message="required">
          <small class="form-text text-muted">Este campo es requerido</small>
        </div>
        <div ng-message="pattern">
          <small class="form-text text-muted">Formato Incorrecto</small>
        </div>
        <div ng-message="minlength">
          <small class="form-text text-muted">Mínimo 9 caracteres</small>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPrimerNombre">Primer nombre</label>
        <input type="text" class="form-control" id="inputPrimerNombre" ng-model="vm.nuevosDatosUsuario.primerNombre" name="txtPrimerNombre"
          pattern="[ñáéíóúA-Za-z ]+" autocomplete="off" required>
        <div ng-messages="formRegistrarCliente.txtPrimerNombre.$error" role="alert">
          <div ng-message="required">
            <small class="form-text text-muted">Este campo es requerido</small>
          </div>
          <div ng-message="pattern">
            <small class="form-text text-muted">Formato incorrecto, no se permite ingresar numeros</small>
          </div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="inputSegundoNombre">Segundo nombre</label>
        <input type="text" class="form-control" id="inputSegundoNombre" ng-model="vm.nuevosDatosUsuario.segundoNombre" name="txtSecondName"
          pattern="[ñáéíóúA-Za-z ]+" autocomplete="off">
        <div ng-messages="formRegistrarCliente.txtSegundoNombre.$error" role="alert">
          <div ng-message="pattern">
            <small class="form-text text-muted">Formato incorrecto, no se permite ingresar numeros</small>
          </div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="inputPrimerApellido">Primer Apellido</label>
        <input type="text" class="form-control" id="inputPrimerApellido" ng-model="vm.nuevosDatosUsuario.primerApellido" name="txtFirstSurname"
          pattern="[ñáéíóúA-Za-z ]+" autocomplete="off" required>
        <div ng-messages="formRegistrarCliente.txtFirstSurname.$error" role="alert">
          <div ng-message="required">
            <small class="form-text text-muted">Este campo es requerido</small>
          </div>
          <div ng-message="pattern">
            <small class="form-text text-muted">Formato incorrecto, no se permite ingresar numeros</small>
          </div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="inputSegundoApellido">Segundo Apellido</label>
        <input type="text" class="form-control" id="inputSegundoApellido" ng-model="vm.nuevosDatosUsuario.segundoApellido" name="txtSecondSurname"
          pattern="[ñáéíóúA-Za-z ]+" autocomplete="off">
        <div ng-messages="formRegistrarCliente.txtSegundoApellido.$error" role="alert">
          <div ng-message="pattern">
            <small class="form-text text-muted">Formato incorrecto, no se permite ingresar numeros</small>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail">Correo Electrónico:</label>
        <input type="email" class="form-control" id="inputFechaNacimiento" ng-model="vm.nuevosDatosUsuario.correo" name="txtEmailCliente" autocomplete="off"
          required disabled>
        <div ng-messages="formRegistrarCliente.txtEmailCliente.$error" role="alert">
          <div ng-message="required">
            <small class="form-text text-muted">Este campo es requerido</small>
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail">Contraseña:</label>
        <input type="password" class="form-control" id="inputFechaNacimiento" ng-model="vm.nuevosDatosUsuario.contrasenna" name="txtContrasenna" autocomplete="off"
          required>
        <div ng-messages="formRegistrarCliente.txtContrasenna.$error" role="alert">
          <div ng-message="required">
            <small class="form-text text-muted">Este campo es requerido</small>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputFechaNacimiento">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="inputFechaNacimiento" ng-model="vm.nuevosDatosUsuario.fechaNacimiento" name="txtBirthdate"
          autocomplete="off" required>
        <div ng-messages="formRegistrarCliente.txtBirthdate.$error" role="alert">
          <div ng-message="required">
            <small class="form-text text-muted">Este campo es requerido</small>
          </div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="inputTelefono">Teléfono</label>
        <input type="text" class="form-control" id="inputTelefono" ng-model="vm.nuevosDatosUsuario.telefono" name="txtTelefono" pattern="^[2-6-7-8]*\d{7}"  minlength="8" maxlength="8" required>
        <div ng-messages="formRegistrarCliente.txtTelefono.$error" role="alert">
          <div ng-message="required">
            <small class="form-text text-muted">Este campo es requerido</small>
          </div>
          <!-- <div ng-message="pattern">
                          <small class="form-text text-muted">Formato de teléfono incorrecto</small>
                        </div> -->
          <div ng-message="minlength">
            <small class="form-text text-muted">Mínimo 8 caracteres</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btnAccion" ng-disabled="formRegistrarCliente.$invalid">Guardar Cambios</button>
  <a href="" type="button" class="btn btn-light">Cancelar</a>

</form>